.Wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px;
}
  
.Header-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.Text-input {
    margin-left: 16px;
    height: 24px;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: 1px solid #9e9e9e;
    padding-left: 10px;
    color: #424242;
    font-size: 0.875rem;
}
  
.Form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
  
.Form-control {
    margin-bottom: 16px;
    width: 100%;
}
  
.Full-width {
    width: 90%;
}
  
.Select-box {
    margin-left: 16px;
    height: 24px;
    font-size: 0.875rem;
    color: #424242;
    background-color: #FFFFFF;
    border: 1px solid #9e9e9e;
}
  
@media (min-width: 320px) and (max-width: 480px) {
    .Header-container {
        flex-direction: column;
    }
}